<!doctype html>
<html lang="en">

<head>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta name="theme-color" content="red"/>
  <title><%= page.title || "Teach in further education" %></title>

  <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico" type="image/x-icon"/>
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="blue"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png"/>
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png"/>
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png"/>

  <%= favicon_tag '/assets/images/favicon.ico' %>

  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_TAG"] %>"></script>
  <script src="javascripts/analytics.js"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      window.analytics.setup('<%= ENV['GOOGLE_ANALYTICS_TAG'] %>')
  </script>

  <%= stylesheet_link_tag "site" %>
</head>
<body class="govuk-template__body">
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<div role="region">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

</div>
<%= partial "cookie_banner" %>

  <%= partial "header", :locals => { :data => data } %>

<div class="app-body govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div className="govuk-grid-row">
      <div className="govuk-grid-column-full">
        <%= yield %>
      </div>

    </div>
  </main>
</div>



<%= partial "footer", :locals => { :data => data } %>

<script src="javascripts/all.js"></script>
<script>
  window.site.initSite('cookie-banner', 'navigation');
</script>
</body>

</html>
