<div>
  <div id="<%= data.id %>" class="govuk-accordion" onclick="window.site.analytics.trackAccordionExpansion('<%= data.id %>')" data-module="govuk-accordion" id="accordion-default" role="region" aria-label="accordion">
    <% data.steps.each_with_index do |s, i| %>
      <div class="govuk-accordion__section" data-label="<%= s.title %>" role="region" aria-label="<%= s.title %>">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="<%= "accordion-default-heading-#{i}" %>">
              <%= s.title %>
            </span>
          </h2>
        </div>
        <div id="<%= "accordion-default-content-#{i}" %>" class="govuk-accordion__section-content"
             aria-labelledby="<%= s.title %>">
          <%= partial("advice", :locals => { :data => s, :show_title => false }) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
