<div class="app-advice <%= data.apply_background_color ? "shaded" : "" %>">
<% if !data.media.nil? %>
  <% if data.display_order %>
    <% className = data.showAsCallout ? "call-out-border-right" : "" %>
    <div class="app-advice-with-image">
      <div>
        <%= partial "image", :locals => { :data => data.media } %>
      </div>
      <div class="<%= className %>">
        <h2 class="govuk-heading-l"><%= data.title %></h2>
        <%= markdown(data.advice_body) %>
      </div>
    </div>
  <% else %>
    <% className = data.showAsCallout ? "call-out-border-right" : "" %>
    <div class="app-advice-with-image">
      <div class="<%= className %>">
        <h2 class="govuk-heading-l"><%= data.title %></h2>
        <%= markdown(data.advice_body) %>
      </div>
      <div>
        <%= partial "image", :locals => { :data => data.media } %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if show_title %>
    <h2 class="govuk-heading-l"><%= data.title %></h2>
  <% end %>
  <div>
    <% if !data.advice_body.nil? %>
      <%= markdown(data.advice_body) %>
    <% end %>
  </div>
<% end %>
</div>