<% breakpoints = get_breakpoints %>
<div id="<%= data.id %>" class="app-advice <%= data.apply_background_color ? "shaded" : "" %>">
  <% if !data.media.nil? %>
    <% if data.display_order %>
      <div class="app-advice-with-image">
        <div style="padding-right: 20px">
          <%= partial "image", :locals => { :data => data.media, :breakpoints => breakpoints } %>
        </div>
        <div>
          <% if data.show_title %>
            <h2 class="govuk-heading-l"><%= data.title %></h2>
          <% end %>
          <% if !data.advice_body.nil? %>
            <%= markdown(data.advice_body) %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="app-advice-with-image">
        <div>
          <% if data.show_title %>
            <h2 class="govuk-heading-l"><%= data.title %></h2>
          <% end %>
          <% if !data.advice_body.nil? %>
            <%= markdown(data.advice_body) %>
          <% end %>
        </div>
        <div style="padding-left: 20px">
          <%= partial "image", :locals => { :data => data.media, :breakpoints => breakpoints } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if data.show_title %>
      <h2 class="govuk-heading-l"><%= data.title %></h2>
    <% end %>
    <div>
      <% if !data.advice_body.nil? %>
        <%= markdown(data.advice_body) %>
      <% end %>
    </div>
  <% end %>
</div>