<% if data.cta_type == "Start" %>
  <button role="button" className="govuk-button govuk-button--start" data-module="govuk-button">
    <a id="<%= data.id %>" href="<%= data.slug + ".html" %>"  draggable="false" >
      <%= data.title %>
      <svg className="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
      </svg>
    </a>
  </button>
<% else %>
  <% classMap = {
    "Start" => "",
    "Primary" => "",
    "Secondary" => "govuk-button--secondary",
    "Warning" => "govuk-button--warning"
  }
     c = data.cta_type
     selected_class = classMap[c]
  %>
  <div role="navigation" >
    <button id="<%= data.id %>" data-module="govuk-button" class="govuk-button <%= selected_class %>" 
    aria-label="<%= data.title %> button" onclick="<%= data.slug %> .html">
      <%= data.title %>
    </button>
  </div>

  <div role="navigation" >
    <button id="<%= data.id %>" data-module="govuk-button" class="govuk-button <%= selected_class %>" 
    aria-label="<%= data.title %> button" onclick="location.href='https://google.com';">
      <%= data.title %>
    </button>
  </div>
<% end %>