<header id="header" class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/assets/images/logo.svg" alt="further education logo"/>
      </a> 
    </div>
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation"
            aria-label="Show or hide navigation menu">Menu
    </button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation" aria-label="Navigation menu">
        <% data.site.navs.select { |id, n|  n.title == "Header"  }.each do |id, n| %>
          <% n.pages.each do |p| %>
            <% if p._meta.content_type_id == 'navLink' %>
              <li id="<%= p.id %>" class="app-dropdown govuk-header__navigation-item">
                <a class="dropbtn"><%= p.title %></a>
                <div class="app-dropdown-content govuk-header__navigation-item">
                  <% p.links.each do |l| %>
                    <a id="<%= l.id%>" href="/<%= l.slug + ".html" %>"><%= l.title %></a>
                  <% end %>
                </div>
              </li>
            <% else %>
              <li id="<%= p.id %>" class="govuk-header__navigation-item">
                <a href="<%= p.slug + ".html" %>">
                  <%= p.title %>
                </a>
              </li>
            <% end %>
          <% end %>

          <% if !n.call_to_actions.nil? %>
            <% n.call_to_actions.each do |c| %>
              <li id="<%= c.id %>" class="govuk-header__navigation-item">
                <a href="<%= c.slug + ".html" %>" class="govuk-button"><%= c.title %></a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>