<div id="<%= data.id %>" class="app-question">
  <div id="error-box" class="govuk-error-summary govuk-visually-hidden" role="alert" tabindex="-1">
      <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There is a problem
      </h2>
      <p class="govuk-list govuk-error-summary__list" tabindex="-1">
        <a href="#<%= "question-" + data.id %>" aria-label="Error: <%= data.question_error_message %>">
        <%= data.question_error_message %></a>
      </p>
  </div>

  <form id="<%= "question-" + data.id %>" aria-labelledby="question-heading">
    <div id="qual-form-group" class="govuk-form-group">
     <h2 class="govuk-heading-l" id="question-heading"><%= data.question_text %></h2>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset_legend govuk-fieldset_legend--1">
          <label class="govuk-label" style="margin-bottom: 20px" for="answer" id="question-label" aria-hidden="true">
          <% if !data.sub_text.nil? %>
             <%= markdown(data.sub_text) %>
          <% end %>
          </label>
          </legend>
          <% if data.render_as[0] == "Dropdown" %>
            <select class="govuk-select" id="answer" name="answer" required>
              <option value="" disabled selected>Select an option</option>
              <% data.answers.each_with_index do |a,i| %>
                <option value="<%= a.link.slug %>"><%= a.answer %></option>
              <% end %>
            </select>
          <% end %>
          <% if data.render_as[0] == "Radio button" %>
          
              <span id="error-message" class="govuk-error-message govuk-visually-hidden">
                <span class="govuk-visually-hidden">Error:</span> <%= data.question_error_message %>
              </span>
            <div class="govuk-radios" role="radiogroup" aria-labelledby="question-label">
              <% data.answers.each_with_index do |a,i| %>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="<%= a.id %>_answer" name="answer" type="radio" value="<%= a.link.slug %>" aria-label="<%= a.answer %>" role="radio">
                  <label class="govuk-label govuk-radios__label" id="<%= a.id %>_label" for="<%= a.id %>_answer" aria-hidden="true">
                    <%= a.answer %>
                  </label>   
                </div>
              <% end %>
            </div>
          <% end %>
          <% if data.render_as[0] == "Checkbox" %>
              <span id="error-message" class="govuk-error-message govuk-visually-hidden">
                <span class="govuk-visually-hidden">Error:</span> <%= data.question_error_message %>
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <% data.answers.each_with_index do |a,i| %>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="<%= a.id %>_answer" name="answer" type="checkbox" value="<%= a.link.slug %>" aria-label="<%= a.answer %>">
                    <label class="govuk-label govuk-checkboxes__label" id="<%= a.id %>_label" for="<%= a.id %>_answer" aria-hidden="true">
                      <%= a.answer %>
                    </label>
                  </div>
                <% end %>
              </div>
            <% end %>
          </fieldset>
        </div>

  <input id="<%= "question-submit-" + data.id %>" class="govuk-button" type="submit" value="Submit" />

</form>
  <script>
      const form = document.getElementById("<%= "question-" + data.id %>")
      const answer = Array.from(document.getElementsByName("answer"))
      form.addEventListener("submit", function(e){
         if (answer.every((a) => !a.checked))
         {
            e.preventDefault()
            document.getElementById("qual-form-group").classList.add("govuk-form-group--error")
            document.getElementById("error-box").classList.remove("govuk-visually-hidden")
            document.getElementById("error-box").style.display = 'block'
            document.getElementById("error-message").classList.remove("govuk-visually-hidden")
            document.getElementById("error-message").style.display = 'block'
            document.getElementById("error-box").focus()
         }
         else {
            window.site.submitQuestionForm(e)
          }
      })

      answer.map((a) => a.addEventListener("change", function (e) {
          const v = e.currentTarget.value === ""
          window.site.analytics.raiseQuestionSelected(a.value)
          document.getElementById("<%= "question-submit-" + data.id %>").disabled = v;
          if(e.currentTarget.checked) {
            document.getElementById("qual-form-group").classList.remove("govuk-form-group--error")
            document.getElementById("error-box").classList.add("govuk-visually-hidden")
            document.getElementById("error-box").style.display = 'none'
            document.getElementById("error-message").classList.add("govuk-visually-hidden")
            document.getElementById("error-message").style.display = 'none'
          }
          return true
      }))
  </script>
</div>