<div id="<%= data.id %>" class="app-question">
<title class="govuk-heading-l"><%= data.question_text %></title>

<form id="<%= "question-" + data.id %>">

    <div id="qual-form-group" class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset_legend govuk-fieldset_legend--1">
          <label class="govuk-label" style="margin-bottom: 20px" for="answer">
          <% if !data.sub_text.nil? %>
             <%= markdown(data.sub_text) %>
          <% end %>
          </label>
          </legend>
          <% if data.render_as[0] == "Dropdown" %>
            <select class="govuk-select" id="answer" name="answer" required>
              <option value="" disabled selected>Select an option</option>
              <% data.answers.each_with_index do |a,i| %>
                <option value="<%= a.link.slug %>"><%= a.answer %></option>
              <% end %>
            </select>
          <% end %>
          <% if data.render_as[0] == "Radio button" %>

            <span tabindex="0" id="error-message" class="govuk-error-message govuk-visually-hidden">
              <label id="errorLabel" class="govuk-visually-hidden">Error:</label> <%= data.question_error_message %>
            </span>
            <%# <span id="error-message" class="govuk-error-message govuk-visually-hidden">
              <span class="govuk-visually-hidden" role="Alert">Error:</span> <%= data.question_error_message %>
            <%# </span> %>
            <div class="govuk-radios">
              <% data.answers.each_with_index do |a,i| %>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="<% a.id %>" name="answer" type="radio" value="<%= a.link.slug %>" aria-label="<%= a.answer %>">
                  <label class="govuk-label govuk-radios__label" id="<% a.id %>_label" for="answer" aria-hidden="true">
                    <%= a.answer %>
                  </label>   
                </div>
              <% end %>
            </div>
          <% end %>
          <% if data.render_as[0] == "Checkbox" %>
              <span id="error-message" class="govuk-error-message govuk-visually-hidden">
                <span class="govuk-visually-hidden">Error:</span> <%= data.question_error_message %>
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <% data.answers.each_with_index do |a,i| %>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="<% a.id %>" name="answer" type="checkbox" value="<%= a.link.slug %>" aria-label="<%= a.answer %>">
                    <label class="govuk-label govuk-checkboxes__label" id="<% a.id %>_label" for="answer" aria-hidden="true">
                      <%= a.answer %>
                    </label>
                  </div>
                <% end %>
              </div>
            <% end %>
          </fieldset>
        </div>

  <input id="<%= "question-submit-" + data.id %>" class="govuk-button" type="submit" value="Submit" />

</form>
  <script>
      const form = document.getElementById("<%= "question-" + data.id %>")
      const answer = Array.from(document.getElementsByName("answer"))
      form.addEventListener("submit", function(e){
         if (answer.every((a) => !a.checked))
         {
            e.preventDefault()
            document.getElementById("qual-form-group").classList.add("govuk-form-group--error")
            document.getElementById("error-message").classList.remove("govuk-visually-hidden")
            document.getElementById("error-message").style.display = 'block'
            // document.getElementById("error-message").focus()
         }
         else {
            window.site.submitQuestionForm(e)
          }
      })

      answer.map((a) => a.addEventListener("change", function (e) {
          const v = e.currentTarget.value === ""
          window.site.analytics.raiseQuestionSelected(a.value)
          document.getElementById("<%= "question-submit-" + data.id %>").disabled = v;
          if(e.currentTarget.checked) {
             document.getElementById("qual-form-group").classList.remove("govuk-form-group--error")
             document.getElementById("error-message").classList.add("govuk-visually-hidden")
             document.getElementById("error-message").style.display = 'block'
          }
          return true
      }))
  </script>
</div>