<div>
  <ul id="<%= data.id %>" class="app-stepper-header">
    <% data.steps.each_with_index do |s, i| %>
      <li id="<%="step_header_#{i}" %>" onClick="window.site.onShowStep(<%= i %>)">
        <a href="<%= "#step_#{i}" %>"><%= "#{(i + 1)}. " + s.title %></a>
      </li>
      <% if (data.steps.length() - 1) != i %>
          <img src="/assets/images/basic-arrow.svg" alt="arrow" aria-hidden="true" />
      <% end %>
    <% end %>
  </ul>
  <% data.steps.each_with_index do |s, i| %>
  <div id="<%="step_#{i}" %>" style="<%= i == 0 ? "" : "display: none" %>">
    <%= partial "advice", :locals => { data: s} %>
  </div>
  <% end %>
</div>