<div id="<%= data.id %>" class="app-table-of-contents" role="navigation" aria-labelledby="contents-list-heading">
  <h3 class="govuk-heading-m" id="contents-list-heading"><%= data.title %></h3>
  <ul class="govuk-list">
    <% page.blocks.each_with_index do |blk, i| %>
      <% if i > index %>
        <% if blk.show_title %>
          <li><h4 class="govuk-heading-s" onclick="window.site.analytics.internalNavigation('<%= "#block_#{i}" %>', '<%= blk.title %>')"><a href="<%= "#block_#{i}" %>"><%= blk.title %></a></h4></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>